

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    background-image: url(image/images.jpg);
    background-repeat: no-repeat;
    background-size: 1950px 1000px;
}

header.page-header {
    display: flex;
    height: 120px;
    min-width: 130px;
    align-items: center;
    
    color: #ffffff;
    background: #aaaaaa;
    text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 270px) / 100) 'Luminary',
        fantasy;
    margin: 24%;
}

.position 
{
    
}

.position img
{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
    top: 15%;
    /*max-width: 100%;*/
        
    
}

p
{
    left: 50%; 
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    font-size: 50px;
    face: 'verdana';
    color: white;
    bottom: 29%;
    z-index: 2
}

@media (max-width: 780px)
{
    p{
        font-size: 30px !important;
    }
}

@media (min-width: 780px) and (max-width: 979px)
{
    
}